<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ui/layouts/admin_layout}"
      data-bs-theme="dark">
      
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IFLIM</title>
</head>

<body layout:fragment="content" class="bg-gradient">

  <div class="container-xl">
			    
    <h1 class="app-page-title"></h1>
    
    <div class="app-card alert alert-dismissible shadow-sm mb-4 border-left-decoration" role="alert">
      <div class="inner">
        <div class="app-card-body p-3 p-lg-4">
          <h3 class="mb-3">클릭률</h3>
          <div class="row gx-5 gy-3">
            <div class="col-12 col-lg-9">
              <div>
                총 참여자 수에 대한 클릭 수 의 비율. 총 클릭 수 / 총 클릭 수 * 100 (%)
              </div>
            </div>
            <!--//col-->
            <div class="col-12 col-lg-3">

            </div>
            <!--//col-->
          </div>
          <!--//row-->
          <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
        </div>
        <!--//app-card-body-->

      </div>
      <!--//inner-->
    </div>
    <!--//app-card-->
      
    <div class="row g-4 mb-4">
      <!-- 총 클릭 수 -->
      <div class="col-6 col-lg-6">
        <div class="app-card app-card-stat shadow-sm h-100">
          <div class="app-card-body p-3 p-lg-4">
            <h4 class="stats-type mb-1">총 클릭수 (%)</h4>
            <div class="stats-figure">
              <div class="d-flex justify-content-end align-items-center gap-1">
                <span>
                  <th:block th:text="${#numbers.formatInteger(clickTotal, 0, 'COMMA')}"></th:block>
                </span>
                <span>
                  <th:block th:text="| (${clickRate }%) |"></th:block>
                </span>
              </div>
            </div>
            <div class="stats-meta text-success">
              <div class="d-flex justify-content-end align-items-center gap-2">
                <div class="d-flex justify-content-center align-items-center">
                  <span>today</span>
                  <span class="material-icons">trending_up</span> 
                </div>
                <span>
                  <th:block th:text="${#numbers.formatInteger(todayClickCount, 0, 'COMMA')}"></th:block>
                </span>
              </div>
            </div>
          </div><!--//app-card-body-->
          <a class="app-card-link-mask" href="#"></a>
        </div><!--//app-card-->
      </div><!--//col-->
      
    </div><!--//row-->
    <div class="row g-4 mb-4">
        <!-- 남여별 클릭수 -->
        <div class="col-12 col-lg-6">
          <div class="app-card app-card-chart h-100 shadow-sm">
            <div class="app-card-header p-3">
              <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                      <h4 class="app-card-title">남여별 클릭수</h4>
                </div><!--//col-->
                <div class="col-auto">
                  <div class="card-header-action">
                    
                  </div><!--//card-header-actions-->
                </div><!--//col-->
              </div><!--//row-->
            </div><!--//app-card-header-->
            <div class="app-card-body p-3 p-lg-4">
              <!-- [차트] ======================================================== -->
              <div>
                <canvas id="chart-gender-click"></canvas>
              </div>
              
              <script th:inline="javascript">
                var genderClickCount = [[ ${genderClickCount} ]]
                var genderClickCountList = Object.keys(genderClickCount).reverse();
                var genderClickCountData = Object.values(genderClickCount).reverse();
              </script>
              <script>
                Chart.register(ChartDataLabels);
                chart('chart-gender-click', 'pie', '남여별 클릭수', genderClickCountList, genderClickCountData, (value, ctx) => {
                  let total = ctx.dataset.data.reduce((sum, val) => sum + val, 0);
                  let percentage = ((value / total) * 100).toFixed(1) + "%";
                  return `${value}\n(${percentage})\n(${ctx.dataIndex == 0 ? '남자' : '여자'}) `;
                }, {
                  anchor: 'center',
                  align: 'center',
                  offset: 0,
                  fontSize: 14
                });

                document.getElementById('chart-gender-click').style.cssText = `
                  width: 100%;
                  max-height: 300px;
                  display: block;
                  text-align: center;
                  box-sizing: border-box;
                  object-fit: contain;
                `;
              </script>
              <!-- [차트] ======================================================== -->
              
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//col-->

        <!-- 연령별 클릭수 -->
        <div class="col-12 col-lg-6">
          <div class="app-card app-card-chart h-100 shadow-sm">
            <div class="app-card-header p-3">
              <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                      <h4 class="app-card-title">연령별 클릭수</h4>
                </div><!--//col-->
                <div class="col-auto">
                  <div class="card-header-action">
                    
                  </div><!--//card-header-actions-->
                </div><!--//col-->
              </div><!--//row-->
            </div><!--//app-card-header-->
            <div class="app-card-body p-3 p-lg-4">
              <!-- [차트] ======================================================== -->
              <div>
                <canvas id="chart-age-click"></canvas>
              </div>
              
              <script th:inline="javascript">
                var ageClickCount = [[ ${ageClickCount} ]]
                var ageClickCountList = Object.keys(ageClickCount);
                var ageClickCountData = Object.values(ageClickCount);
              </script>
              <script>
                Chart.register(ChartDataLabels);
                chart('chart-age-click', 'bar', '연령별 클릭수', ageClickCountList, ageClickCountData, (value) => value + '명');
              </script>
              <!-- [차트] ======================================================== -->
              
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//col-->

        <!-- 남여별 평균 클릭률 -->
        <div class="col-12 col-lg-6">
          <div class="app-card app-card-chart h-100 shadow-sm">
            <div class="app-card-header p-3">
              <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                      <h4 class="app-card-title">남여별 평균 클릭률</h4>
                </div><!--//col-->
                <div class="col-auto">
                  <div class="card-header-action">
                    
                  </div><!--//card-header-actions-->
                </div><!--//col-->
              </div><!--//row-->
            </div><!--//app-card-header-->
            <div class="app-card-body p-3 p-lg-4">

              <!-- [차트] ======================================================== -->
              <div>
                <canvas id="chart-gender-avg"></canvas>
              </div>
              
              <script th:inline="javascript">
                var genderClickAvg = [[ ${genderClickAvg} ]]
                var genderClickAvgList = Object.keys(genderClickAvg).reverse();
                var genderClickAvgData = Object.values(genderClickAvg).reverse();
              </script>
              <script>
                Chart.register(ChartDataLabels);
                chart('chart-gender-avg', 'pie', '남여별 평균 클릭률', genderClickAvgList, genderClickAvgData, (value, ctx) => {
                  let total = ctx.dataset.data.reduce((sum, val) => sum + val, 0);
                  let percentage = ((value / total) * 100).toFixed(1) + "%";
                  return `${value}%\n(${percentage})\n (${ctx.dataIndex == 0 ? '남자' : '여자'}) `;
                }, {
                  anchor: 'center',
                  align: 'center',
                  offset: 0,
                  fontSize: 14
                });

                document.getElementById('chart-gender-avg').style.cssText = `
                  width: 100%;
                  max-height: 300px;
                  display: block;
                  text-align: center;
                  box-sizing: border-box;
                  object-fit: contain;
                `;
              </script>
              <!-- [차트] ======================================================== -->
            
              
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//col-->

        <!-- 연령별 평균 클릭률 -->
        <div class="col-12 col-lg-6">
          <div class="app-card app-card-chart h-100 shadow-sm">
            <div class="app-card-header p-3">
              <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                      <h4 class="app-card-title">연령별 평균 클릭률</h4>
                </div><!--//col-->
                <div class="col-auto">
                  <div class="card-header-action">
                    
                  </div><!--//card-header-actions-->
                </div><!--//col-->
              </div><!--//row-->
            </div><!--//app-card-header-->
            <div class="app-card-body p-3 p-lg-4">

              <!-- [차트] ======================================================== -->
              <div>
                <canvas id="chart-age-avg"></canvas>
              </div>
              
              <script th:inline="javascript">
                var ageClickAvg = [[ ${ageClickAvg} ]]
                var ageClickAvgList = Object.keys(ageClickAvg);
                var ageClickAvgData = Object.values(ageClickAvg);
              </script>
              <script>
                Chart.register(ChartDataLabels);
                chart('chart-age-avg', 'bar', '연령별 평균 클릭률', ageClickAvgList, ageClickAvgData, (value) => value + '%');
              </script>
              <!-- [차트] ======================================================== -->
            
              
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//col-->
        
    </div><!--//row-->

    <div class="row g-4 mb-4">
      <div class="col-12 col-lg-4">
        <div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
          <div class="app-card-header p-3 border-bottom-0">
              <div class="row align-items-center gx-3">
                <div class="col-auto">
                  <div class="app-icon-holder">
                  <span class="material-icons">timer</span> 
                </div><!--//icon-holder-->
                      
                </div><!--//col-->
                <div class="col-auto">
                  <h4 class="app-card-title">오토플레이</h4>
                </div><!--//col-->
              </div><!--//row-->
          </div><!--//app-card-header-->
          <div class="app-card-body px-4">
            
            <div class="intro">
              참여자가 동영상 피드에서 특정 영상에 마우스를 올려 미리보기 영상을 재생한 시간입니다.
            </div>
          </div><!--//app-card-body-->
          <div class="app-card-footer p-4 mt-auto">
            <a class="btn app-btn-secondary" href="/admin/autoplay">자세히 보기</a>
          </div><!--//app-card-footer-->
      </div><!--//app-card-->
      </div><!--//col-->
      <div class="col-12 col-lg-4">
        <div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
          <div class="app-card-header p-3 border-bottom-0">
              <div class="row align-items-center gx-3">
                <div class="col-auto">
                  <div class="app-icon-holder">
                  <span class="material-icons">mouse</span> 
                </div><!--//icon-holder-->
                      
                </div><!--//col-->
                <div class="col-auto">
                  <h4 class="app-card-title">클릭률</h4>
                </div><!--//col-->
              </div><!--//row-->
          </div><!--//app-card-header-->
          <div class="app-card-body px-4">
            
            <div class="intro">
              총 참여자 수에 대한 클릭 수 의 비율 <br>
              총 클릭 수 / 총 클릭 수 * 100 (%)
            </div>
          </div><!--//app-card-body-->
          <div class="app-card-footer p-4 mt-auto">
            <a class="btn app-btn-secondary" href="/admin/click">자세히 보기</a>
          </div><!--//app-card-footer-->
      </div><!--//app-card-->
      </div><!--//col-->
      <div class="col-12 col-lg-4">
        <div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
          <div class="app-card-header p-3 border-bottom-0">
              <div class="row align-items-center gx-3">
                <div class="col-auto">
                  <div class="app-icon-holder">
                  <span class="material-icons">browse_gallery</span> 
                </div><!--//icon-holder-->
                      
                </div><!--//col-->
                <div class="col-auto">
                  <h4 class="app-card-title">잔류시간</h4>
                </div><!--//col-->
              </div><!--//row-->
          </div><!--//app-card-header-->
          <div class="app-card-body px-4">
            
            <div class="intro">
              참여자가 페이지에 접속한 시점부터 종료한 시점까지의 시간입니다.
            </div>
          </div><!--//app-card-body-->
          <div class="app-card-footer p-4 mt-auto">
            <a class="btn app-btn-secondary" href="/admin/usetime">자세히 보기</a>
          </div><!--//app-card-footer-->
      </div><!--//app-card-->
      </div><!--//col-->
    </div><!--//row-->
    
  </div>
</body>
</html>

