<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.autoplay.mapper.SampleMapper">
    <!-- 기본 등록 -->
    <insert id="insert">
        INSERT INTO sample( name, value ) VALUES ( #{name}, #{value} )
    </insert>

    <!-- 기본 조회 -->
    <select id="select" resultType="Sample">
        SELECT * FROM sample WHERE name = #{name}
    </select>

    <!-- 기본 수정 -->
    <update id="update">
        UPDATE sample
           SET name = #{name},
               value = #{value}
        WHERE name = #{name}
    </update>

    <!-- 기본 삭제 -->
    <delete id="delete">
        DELETE FROM sample WHERE name = #{name}
    </delete>
</mapper>
