<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ui/layouts/user_layout}"
      data-bs-theme="dark">
      
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IFLIM</title>
  <style>
    html[data-bs-theme="dark"] .btn-theme {
      color: #fff !important;
      border-color: #fff !important;
    }
    html[data-bs-theme="light"] .btn-theme {
      color: #6c757d !important;
      border-color: #6c757d !important;
    }

    html[data-bs-theme="dark"] .btn-theme:hover {
      color: black !important;
    }
    html[data-bs-theme="light"] .btn-theme:hover {
      color: white !important;
      background-color: black !important;
    }


  </style>
</head>

<body layout:fragment="content">


  <main>
    <style>
      .swiper-container {
        width: 100%;
        /* height: 100%; */
      }
      .swiper-slide img {
        width: 100%;
        min-height: 400px;
        height: 100%;
        object-fit: cover;
      }
      .banner-content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
      }
    </style>
    <section class="pb-5 text-center position-relative overflow-hidden" style="max-height: 400px;">

      <div class="swiper-container z-1">
        <div class="swiper-wrapper">
          <!-- <div class="swiper-slide"><img src="/img/slide/slide1.jpg" alt="Slide 1" class="w-100"></div> -->
          <div class="swiper-slide"><img src="/img/slide/slide2.jpg" alt="Slide 2" class="w-100"></div>
          <div class="swiper-slide"><img src="/img/slide/slide3.jpg" alt="Slide 3" class="w-100"></div>
          <!-- <div class="swiper-slide"><img src="/img/slide/slide4.jpg" alt="Slide 4" class="w-100"></div>
          <div class="swiper-slide"><img src="/img/slide/slide5.jpg" alt="Slide 5" class="w-100"></div>
          <div class="swiper-slide"><img src="/img/slide/slide6.jpg" alt="Slide 6" class="w-100"></div>
          <div class="swiper-slide"><img src="/img/slide/slide7.jpg" alt="Slide 7" class="w-100"></div>
          <div class="swiper-slide"><img src="/img/slide/slide8.jpg" alt="Slide 8" class="w-100"></div>
          <div class="swiper-slide"><img src="/img/slide/slide9.jpg" alt="Slide 9" class="w-100"></div>
          <div class="swiper-slide"><img src="/img/slide/slide10.jpg" alt="Slide 10" class="w-100"></div>
          <div class="swiper-slide"><img src="/img/slide/slide11.jpg" alt="Slide 11" class="w-100" style="top: 0;"></div> -->
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next" style="color: rgba(255,255,255,0.3)"></div>
        <div class="swiper-button-prev" style="color: rgba(255,255,255,0.3)"></div>
      </div>
      <script>
        var swiper = new Swiper('.swiper-container', {
          loop: true,
          grabCursor: true,
          autoplay: {
            delay: 3000,
            disableOnInteraction: false,
          },
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        });
      </script>
      <div class="row py-lg-5 z-3 banner-content">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light text-white">Welcome to IFILM</h1>
          <p class="lead text-white">
            Discover the allure of indi flims all in one place
          </p>
          <p>
            <a href="/join" class="btn btn-lg btn-outline-light my-2">Join</a>
          </p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
      <div class="container">

        <!-- 장르 - 액션 / 어드벤처 -->
        <section class="mb-5">
          
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-3">
            <!-- 카드 -->
            <div class="col">
              <div class="card border-0 rounded-4 overflow-hidden">
                <div class="preview cursor-pointer">
                  <img src="/img/thumb/high/클로즈드.jpg" class="thumb w-100 object-fit-cover" alt="클로즈드">
                  <div id="player-1" class="video object-fit-cover d-none"
                          onmouseenter="autoPlay( '클로즈드', 0 )"
                          onmouseleave="closePlay( '클로즈드', 0 )"></div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">클로즈드</h5>
                  <p class="card-text">
                    전쟁상황 같은 알 수 없는 큰 난리에서 급히 도망쳐 외부와 연락도 상황도 끊어진 채 지하 창고 같은 방에 숨게 된 4명의 여학생들의 생존 분투기.
                  </p>
                  <div class="d-flex justify-content-end align-items-center">
                    <div class="btn-group">
                      <a href="javascript:;" onclick= "watch( 'https://www.cinehubkorea.com/bbs/board.php?bo_table=bbs01&wr_id=2712&sfl=wr_subject&stx=%ED%81%B4%EB%A1%9C%EC%A6%88%EB%93%9C&sop=and', '클로즈드'  )" class="btn btn-outline-light d-flex align-items-center gap-2 btn-theme">
                        <span class="material-icons">smart_display</span> 
                        Watch
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
            <!-- 카드 -->
            <div class="col">
              <div class="card border-0 rounded-4 overflow-hidden">
                <div class="preview cursor-pointer">
                  <img src="/img/thumb/high/윌리빙엄의경우.png" class="thumb w-100 object-fit-cover" alt="윌리 빙엄의 경우">
                  <div id="player-2" class="video object-fit-cover d-none"
                          onmouseenter="autoPlay( '윌리 빙엄의 경우', 1 )"
                          onmouseleave="closePlay( '윌리 빙엄의 경우', 1 )"></div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">윌리 빙엄의 경우</h5>
                  <p class="card-text">
                    흉악범들을 대상으로 새로운 형벌이 도입되었다. 그들을 천천히, 고통스럽게 죽음으로 이끄는 신체절단형. 피해자가 원할 때 마다 몇 년에 걸쳐 죄수의 신체 일부가 하나씩 제거된다. 윌리 빙엄의 경우도 예외일 수 없다. 
                  </p>
                  <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:;" onclick="watch( 'https://www.cinehubkorea.com/bbs/board.php?bo_table=bbs01&wr_id=1401&sca=%EC%8A%A4%EB%A6%B4%EB%9F%AC', '윌리 빙엄의 경우'  )" class="btn btn-outline-light d-flex align-items-center gap-2 btn-theme">
                        <span class="material-icons">smart_display</span> 
                        Watch
                      </a>
                  </div>
                </div>
              </div>
            </div>
        
            <!-- 카드 -->
            <div class="col">
              <div class="card border-0 rounded-4 overflow-hidden">
                <div class="preview cursor-pointer">
                  <img src="/img/thumb/high/로스트.jpg" class="thumb w-100 object-fit-cover" alt="로스트">
                  <div id="player-3" class="video object-fit-cover d-none"
                          onmouseenter="autoPlay( '로스트', 2 )"
                          onmouseleave="closePlay( '로스트', 2 )"></div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">로스트</h5>
                  <p class="card-text">
                    유실물보관소로 돈이 가득 든 가방이 들어왔다. 돈가방을 보고 욕심에 사로잡힌 지태는 거짓말, 폭력, 살인, 유기를 저지르게 되는데…지태는 지하철을 타고 홀연히 사람들 속에 섞인다.
                  </p>
                  <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:;" onclick="watch( 'https://www.cinehubkorea.com/bbs/board.php?bo_table=bbs01&wr_id=823&sca=%EC%8A%A4%EB%A6%B4%EB%9F%AC', '로스트'  )" class="btn btn-outline-light d-flex align-items-center gap-2 btn-theme">
                        <span class="material-icons">smart_display</span> 
                        Watch
                      </a>
                  </div>
                </div>
              </div>
            </div>
        
          </div>

        </section>

        <!-- 장르 - 드라마 -->
        <section class="mb-5">
          
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-3">
            <!-- 카드 -->
            <div class="col">
              <div class="card border-0 rounded-4 overflow-hidden">
                <div class="preview cursor-pointer">
                  <img src="/img/thumb/high/전역하는날.jpg" class="thumb w-100 object-fit-cover" alt="전역하는날">
                  <div id="player-4" class="video object-fit-cover d-none"
                      onmouseenter="autoPlay( '전역하는날', 3 )"
                      onmouseleave="closePlay( '전역하는날', 3 )"></div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">전역하는날</h5>
                  <p class="card-text">
                    군인인 선호가 전역을 하는 날 알수없는 바이러스가 전세계에 발생하여 사람들이 좀비로 변하 게 된다. 선호는 자신의 어머니를 구하기 위해 집에 도착하지만 이미 엄마 또한 바이러스에 감염되어 선호를 공격한다. 결국 선호는 자신에 손으로 엄마를 죽인후 괴로워 하던 중 선호 또한 공격 당한 상처로 바이러스에 감염되는데...
                  </p>
                  <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:;" onclick="watch( 'https://www.cinehubkorea.com/bbs/board.php?bo_table=bbs01&wr_id=781&sca=%ED%8C%90%ED%83%80%EC%A7%80', '전역하는날'  )" class="btn btn-outline-light d-flex align-items-center gap-2 btn-theme">
                        <span class="material-icons">smart_display</span> 
                        Watch
                      </a>
                  </div>
                </div>
              </div>
            </div>
        
            <!-- 카드 -->
            <div class="col">
              <div class="card border-0 rounded-4 overflow-hidden">
                <div class="preview cursor-pointer">
                  <img src="/img/thumb/high/육식주의.png" class="thumb w-100 object-fit-cover" alt="육식주의">
                  <div id="player-5" class="video object-fit-cover d-none"
                      onmouseenter="autoPlay( '육식주의', 4 )"
                      onmouseleave="closePlay( '육식주의', 4 )"></div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">육식주의</h5>
                  <p class="card-text">
                    고급 양식당, 오랜 단골손님은 오늘도 같은 메뉴를 주문한다.항상 즐기는 요리임에도 오늘만큼은 기가막히게 특별한 맛이 났고 주방장에게 그 비결을 묻는다.그러나 언제나 같은 레시피라는 주방장. 하지만 곧 재료인 고기가 바뀐것을 의심하게 되는데...
                  </p>
                  <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:;" onclick="watch( 'https://www.cinehubkorea.com/bbs/board.php?bo_table=bbs01&wr_id=518&sca=%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98', '육식주의'  )" class="btn btn-outline-light d-flex align-items-center gap-2 btn-theme">
                        <span class="material-icons">smart_display</span> 
                        Watch
                      </a>
                  </div>
                </div>
              </div>
            </div>
        
            <!-- 카드 -->
            <div class="col">
              <div class="card border-0 rounded-4 overflow-hidden">
                <div class="preview cursor-pointer">
                  <img src="/img/thumb/high/샌드.png" class="thumb w-100 object-fit-cover" alt="샌드">
                  <div id="player-6" class="video object-fit-cover d-none"
                      onmouseenter="autoPlay( '샌드', 5 )"
                      onmouseleave="closePlay( '샌드', 5 )"></div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">샌드</h5>
                  <p class="card-text">
                    5시에 일어나서 비타민을 먹고 커피를 마시며 몇 시간 일하고 오메가나 플라보노이드도 먹고 조금 더 일하고 운동하고 나서 샤워를 합니다. 하지만 머리를 씻어내려고 해도 소용없어요
                  </p>
                  <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:;" onclick="watch( 'https://www.cinehubkorea.com/bbs/board.php?bo_table=bbs01&wr_id=1903&sca=%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98', '샌드'  )" class="btn btn-outline-light d-flex align-items-center gap-2 btn-theme">
                        <span class="material-icons">smart_display</span> 
                        Watch
                      </a>
                  </div>
                </div>
              </div>
            </div>
        
          </div>

        </section>

        <!-- 장르 - 판타지 -->
        <section class="mb-5">
          
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-3">
            <!-- 카드 -->
            <div class="col">
              <div class="card border-0 rounded-4 overflow-hidden">
                <div class="preview cursor-pointer">
                  <img src="/img/thumb/high/당신은누군가요.jpg" class="thumb w-100 object-fit-cover" alt="당신은 누군가요?">
                  <div id="player-7" class="video object-fit-cover d-none"
                      onmouseenter="autoPlay( '당신은 누군가요?', 6 )"
                      onmouseleave="closePlay( '당신은 누군가요?', 6 )"></div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">당신은 누군가요?</h5>
                  <p class="card-text">
                    절망적인 슬럼프에 빠진 작가가 괴로움에 몸부림치고 있을 때, 의문의 상자를 든 배달부 소녀가 문 앞에 도착한다. 두 사람은 유명세와 성공에 대해 흥미로운 대화를 나누는데…글쎄, 영감이 어떤 모습으로 찾아올 지는 아무도 모를 일이다.
                  </p>
                  <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:;" onclick="watch( 'https://www.cinehubkorea.com/bbs/board.php?bo_table=bbs01&wr_id=2134&sca=%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98', '당신은 누군가요?'  )" class="btn btn-outline-light d-flex align-items-center gap-2 btn-theme">
                        <span class="material-icons">smart_display</span> 
                        Watch
                      </a>
                  </div>
                </div>
              </div>
            </div>
        
            <!-- 카드 -->
            <div class="col">
              <div class="card border-0 rounded-4 overflow-hidden">
                <div class="preview cursor-pointer">
                  <img src="/img/thumb/high/프레데터다크에이지.jpg" class="thumb w-100 object-fit-cover" alt="프레데터 다크에이지">
                  <div id="player-8" class="video object-fit-cover d-none"
                      onmouseenter="autoPlay( '프레데터 다크에이지', 7 )"
                      onmouseleave="closePlay( '프레데터 다크에이지', 7 )"></div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">프레데터 다크에이지</h5>
                  <p class="card-text">
                    중세 시대의 어느 마을에 정체불명의 흉폭한 약탈자가 출현하여 마을 주민을 공포의 도가니로 몰아가자 겁에 질린 마을 주민들이 추기경에게 약탈자의 축출을 청원하기에 이르고 청원에 대한 기부금이 주된 목적이였던 추기경은 토마스 경이 이끄는 5인조 템플 나이츠를 소집하여 과저에 약탈자와 조우한 경험이 있는 무슬린 출신의 사라센인 사이에드를 길 안내자로 하여 약탈자를 처단하기 위한 사냥의 길을 떠나는데...
                  </p>
                  <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:;" onclick="watch( 'https://www.cinehubkorea.com/bbs/board.php?bo_table=bbs01&wr_id=1532&sca=SCI-FI', '프레데터 다크에이지'  )" class="btn btn-outline-light d-flex align-items-center gap-2 btn-theme">
                        <span class="material-icons">smart_display</span> 
                        Watch
                      </a>
                  </div>
                </div>
              </div>
            </div>
        
            <!-- 카드 -->
            <div class="col">
              <div class="card border-0 rounded-4 overflow-hidden">
                <div class="preview cursor-pointer">
                  <img src="/img/thumb/high/영원한뱀파이어.png" class="thumb w-100 object-fit-cover" alt="영원한 뱀파이어">
                  <div id="player-9" class="video object-fit-cover d-none"
                      onmouseenter="autoPlay( '영원한 뱀파이어', 8 )"
                      onmouseleave="closePlay( '영원한 뱀파이어', 8 )"></div>

                </div>
                <div class="card-body">
                  <h5 class="card-title">영원한 뱀파이어</h5>
                  <p class="card-text">
                    큰 시련과 도전속에서 뱀파이어 세계와 현실에서의 비극적 사랑이야기. 헌터와 뱀파이어 사이에 전쟁, 당신은 영원한 삶과 사랑중 어느 쪽을 선택할 것인가?
                  </p>
                  <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:;" onclick="watch( 'https://www.cinehubkorea.com/bbs/board.php?bo_table=bbs01&wr_id=76&sca=%ED%8C%90%ED%83%80%EC%A7%80', '영원한 뱀파이어'  )" class="btn btn-outline-light d-flex align-items-center gap-2 btn-theme">
                        <span class="material-icons">smart_display</span> 
                        Watch
                      </a>
                  </div>
                </div>
              </div>
            </div>
        
          </div>

        </section>

        <!-- 장르 - 로맨스 & 코미디 -->
        <section class="mb-5">
          
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-3">
            <!-- 카드 -->
            <div class="col">
              <div class="card border-0 rounded-4 overflow-hidden">
                <div class="preview cursor-pointer">
                  <img src="/img/thumb/high/세상이.png" class="thumb w-100 object-fit-cover" alt="세상이 망했으면 좋겠다">
                  <div id="player-10" class="video object-fit-cover d-none"
                      onmouseenter="autoPlay( '세상이 망했으면 좋겠다', 9 )"
                      onmouseleave="closePlay( '세상이 망했으면 좋겠다', 9 )"></div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">세상이 망했으면 좋겠다</h5>
                  <p class="card-text">
                    ‘그냥 다 망해버렸으면 좋겠다.’ 라는 말을 입에 달고 사는 균. 그는 사회 부 적응 자, 즉 흔히 말하는 히키모코리 이다. 취업은커녕 사회생활 조차 엄두도 내지 못한다. 밖에 나가는 것을 극도로 꺼려 집에서만 생활하는 균. 부모님이 보내준 생활비로 그럭저럭 생활한다. 그러던 어느 날 균은 바깥세상이 심상치 않게 돌아가고 있음을 느끼는데...
                  </p>
                  <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:;" onclick="watch( 'https://www.cinehubkorea.com/bbs/board.php?bo_table=bbs01&wr_id=503&sca=%ED%8C%90%ED%83%80%EC%A7%80', '세상이 망했으면 좋겠다'  )" class="btn btn-outline-light d-flex align-items-center gap-2 btn-theme">
                        <span class="material-icons">smart_display</span> 
                        Watch
                      </a>
                  </div>
                </div>
              </div>
            </div>
        
            <!-- 카드 -->
            <div class="col">
              <div class="card border-0 rounded-4 overflow-hidden">
                <div class="preview cursor-pointer">
                  <img src="/img/thumb/high/인형.png" class="thumb w-100 object-fit-cover" alt="인형">
                  <div id="player-11" class="video object-fit-cover d-none"
                      onmouseenter="autoPlay( '인형', 10 )"
                      onmouseleave="closePlay( '인형', 10 )"></div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">인형</h5>
                  <p class="card-text">
                    자신을 제외한 모든 사람들의 얼굴이 다 똑같이 생긴 세상 속에서 홀로 소외감을 느끼는 소녀, 자신의 절친한 친구마저 똑같은 얼굴로 변해버리자 극단적인 선택을 한다.
                  </p>
                  <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:;" onclick="watch( 'https://www.cinehubkorea.com/bbs/board.php?bo_table=bbs01&wr_id=213&sca=%ED%8C%90%ED%83%80%EC%A7%80', '인형'  )" class="btn btn-outline-light d-flex align-items-center gap-2 btn-theme">
                        <span class="material-icons">smart_display</span> 
                        Watch
                      </a>
                  </div>
                </div>
              </div>
            </div>
        
            <!-- 카드 -->
            <div class="col">
              <div class="card border-0 rounded-4 overflow-hidden">
                <div class="preview cursor-pointer">
                  <img src="/img/thumb/high/시간에이전트.jpg" class="thumb w-100 object-fit-cover" alt="시간 에이전트">
                  <div id="player-12" class="video object-fit-cover d-none"
                      onmouseenter="autoPlay( '시간 에이전트', 11 )"
                      onmouseleave="closePlay( '시간 에이전트', 11 )"></div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">시간 에이전트</h5>
                  <p class="card-text">
                    범죄를 예방하기 위해 미래에서 온 에이전트. 미래로 다시 돌아가려면 그냥 기다리는 방법 밖에 없다. 기다리는 동안 그는 바깥세상과 단절되어 살아야한다. 혼자 있는것에 익숙해진 에이전트는 어느날 다리에서 뛰어내리려는 소녀와 마주치는데...
                  </p>
                  <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:;" onclick="watch( 'https://www.cinehubkorea.com/bbs/board.php?bo_table=bbs01&wr_id=1423&sca=SCI-FI', '시간 에이전트'  )" class="btn btn-outline-light d-flex align-items-center gap-2 btn-theme">
                        <span class="material-icons">smart_display</span> 
                        Watch
                      </a>
                  </div>
                </div>
              </div>
            </div>
        
          </div>

        </section>


      </div>
    </div>

  </main>

  <script>
    $(document).ready(function() {
      // 카드 호버시 확대
      $('.card').hover(
        function() {
          $(this).css({
            'transform': 'scale(1.15)',
            'transition': 'all 0.4s ease-in-out',
            'z-index': '10',
            'box-shadow': '0px 10px 25px 0px rgba(200, 200, 200, 0.5), 0px 10px 10px 0px rgba(200, 200, 200, 0.04)'
          });
        },
        function() {
          $(this).css({
            'transform': 'scale(1)',
            'transition': 'all 0.4s ease-in-out',
            'z-index': '1',
            'box-shadow': '0px 20px 25px -5px rgba(0, 0, 0, 0.5), 0px 10px 10px -5px rgba(0, 0, 0, 0.04)'
          });
        }
      );


      // .card 안의 video 호버시 재생
      // $('.card .preview')
      //   .on('mouseenter', function() {
      //     $(this).find('img').addClass('d-none');
      //     $(this).find('video').removeClass('d-none');
      //     $(this).find('video').get(0).play();
      //   }).on('mouseleave', function() {
      //     $(this).find('img').removeClass('d-none');
      //     $(this).find('video').addClass('d-none');
      //     $(this).find('video').get(0).pause();
      //   });
    });

  </script>

  <script th:inline="javascript">
    // 로그인 여부 확인
    let isLogin = [[ ${session.SPRING_SECURITY_CONTEXT != null } ]]
    var username = [[${ session.SPRING_SECURITY_CONTEXT != null ? #authentication.principal.user.username : '' }]] == '' ? '비회원' : [[${ session.SPRING_SECURITY_CONTEXT != null ? #authentication.principal.user.username : '' }]];
  
    if( !isLogin ) {
      alertLogin('/auto-x-b')
    }

  </script>

  <!-- 데이터 산출 -->
  <script>

    /**
     * 클릭 기록
     * 
    */
    function watch( url, contentName ) {
      console.log( contentName + '을(를) 시청합니다.' )
      console.log( url );
      
      $ajax({
        url: '/api/click',
        type: 'POST',
        data: {
          username: username, // Replace with actual username
          contentName: contentName,
          type: '고시각',
          preview: '썸네일'
        }
      }).then(response => {
        if (response === "FAIL") {
          console.error('Failed to log click');
          // $toast({
          //   title: '클릭 기록 실패',
          //   icon: 'error',            // success, error, warning, info, question
          //   position: 'bottom-end',     
          //   showConfirmButton: false,
          //   timer: 3000
          // })  
        } else {
          // $toast({
          //     title: '클릭 기록 성공',
          //     icon: 'success',            // success, error, warning, info, question
          //     position: 'bottom-end',     
          //     showConfirmButton: false,
          //     timer: 3000
          // })  
          window.open(url, '_blank');
        }
      });
    }


    var currContentName = '';
    var stdTime;
    var endTime;
    var playTime;

    /**
     * 오토 플레이 재생
     * 
    */
    function autoPlay( contentName ) {
      stdTime = new Date().getTime();
      endTime = null;
      currContentName = contentName;
    }

    /**
     * 오토 플레이 종료
     * 
    */
    function closePlay( contentName ) {
      if( endTime != null ) {
        return
      }
      endTime = new Date().getTime();
      playTime = endTime - stdTime;

      console.log( contentName + '을(를) ' + playTime + 'ms 동안 시청했습니다.' )


      $ajax({
        url: '/api/autoplay',
        type: 'POST',
        data: {
          username: username,
          contentName: contentName,
          stdTime: stdTime,
          endTime: endTime,
          playTime: playTime
        }
      }).then(response => {
        if (response === "FAIL") {
          console.error('Failed to log autoplay');
          // $toast({
          //   title: '오토 플레이 기록 실패',
          //   icon: 'error',
          //   position: 'bottom-end',
          //   showConfirmButton: false,
          //   timer: 3000
          // });
        } else {
          // $toast({
          //   title: '오토 플레이 기록 성공',
          //   icon: 'success',
          //   position: 'bottom-end',
          //   showConfirmButton: false,
          //   timer: 3000
          // });
        }
      });
    }
  </script>

  <script>
   
  </script>
  
  </body>
</html>
