<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ui/layouts/user_layout}"
      data-bs-theme="dark">
      
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IFLIM</title>
</head>

<body layout:fragment="content">

  <div class="container">

    <section class="my-5">

      <div class="row">
        <div class="col-12 col-md-8">

          <div class="video-player-container">
            <div id="player-1" class="play object-fit-cover" style="height: 480px;"></div>
          </div>
        
          <div class="video-details py-4">
            <h2 class="video-title">오늘의 파스타</h2>
            <p class="video-description">우주는 석현과 연애한지 2년을 기념하기 위해 집에서 파스타를 해준다. 석현의 마음과 우주의 마음 그 둘 사이의 거리와 온도 모든게 다르다.</p>
          </div>

        </div>

        <div class="col-12 col-md-4">

          <div class="related-videos">
            <h5 class="mb-3">관련 동영상</h5>

            <div class="d-flex flex-column">
              <div class="row play-list-card justify-content-between">
                <div class="col-5 d-flex align-items-center">
                  <img src="/img/thumb/low/외면받는유기동물.png" class="w-100" alt="외면받는유기동물">
                </div>
                <div class="col-7 px-2">
                  <div class="d-flex flex-column justify-content-between align-items-between h-100">
                    <h5 class="">외면받는 유기동물</h5>
                    <p class="text-ellipsis">우주가 유기동물 보호소에 가서 유기동물들을 만나고 그들의 사연을 듣는다.</p>
                    <div class="d-flex justify-content-start align-items-center">
                      <a href="javascript:;" 
                        onclick="watch( 'https://www.cinehubkorea.com/bbs/board.php?bo_table=bbs01&amp;wr_id=1241&amp;sca=%EB%8B%A4%ED%81%90%EB%A9%98%ED%84%B0%EB%A6%AC', '벽'  )" 
                        class="btn btn-light d-inline-flex align-items-center gap-2 ">
                        <span class="material-icons">smart_display</span> 
                        Watch
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </section>

  </div>


  <script>
    var playerList = [];
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
      newPlayer('player-1' , 'X9J7Z0vbFYg', 0);
      console.log(playerList);
      
    }

    function newPlayer(id, videoId, no) {
      player = new YT.Player(id, {
        videoId: videoId,
        height: '100%',
        width: '100%',
        playerVars: {
          'playsinline': 1,
          'controls': 1,
          'rel': 0,
          'modestbranding': 1,
        },
        events: {
          'onReady': onPlayerReady,
          // 'onStateChange': onPlayerStateChange
        }
      });

      playerList[no] = player;
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
      // event.target.playVideo();
      // playerList.push(event.target);
      var iframe = event.target.getIframe();

      // iframe.style.width = "100%";  // 너비 변경
      // iframe.style.height = "340px";  // 높이 변경
      // iframe.style.position = "absolute"; 
      // iframe.style.top = "-58px"; 
      // iframe.style.top = "-68px"; 
      // iframe.style.left = "0px"; 
    }

   
  </script>

  
</body>
</html>

