<th:block th:fragment="sidebar">
  <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary"
       style="">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/movies">
              <span class="material-icons">movie</span> 
              <span>영화 관리</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/data/autoplay">
              <span class="material-icons">timer</span> 
              <span>오토플레이 시간</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/data/click">
              <span class="material-icons">mouse</span> 
              <span>클릭률</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/data/usetime">
              <span class="material-icons">browse_gallery</span> 
              <span>잔류시간</span>
            </a>
          </li>
          
        </ul>

        <hr class="my-3">

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-body-secondary d-flex align-items-center gap-2 active" aria-current="page" href="/admin">
              <!-- <svg class="bi"><use xlink:href="#house-fill"/></svg> -->
              <span class="material-icons">bar_chart</span> 
              통계 데이터
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/autoplay">
              <span class="material-icons">timer</span> 
              <span>오토플레이 시간</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/click">
              <span class="material-icons">mouse</span> 
              <span>클릭률</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/usetime">
              <span class="material-icons">browse_gallery</span> 
              <span>잔류시간</span>
            </a>
          </li>
          
        </ul>


        <hr class="my-3">
        <!-- 프리뷰 저시각 컨텐츠 -->
        <ul class="nav flex-column">
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="javascript:void(0)">
                <span class="material-icons">movie</span> 
                <span>프리뷰 저시각 컨텐츠</span>
              </a>
            </li>
            <ul class="nav flex-column ps-3">
              <li class="nav-item">
                <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/category/프리뷰/저시각/autoplay">
                  <span class="material-icons">timer</span> 
                  <span>오토플레이 시간</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/category/프리뷰/저시각/click">
                  <span class="material-icons">mouse</span> 
                  <span>클릭률</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/category/프리뷰/저시각/usetime">
                  <span class="material-icons">browse_gallery</span> 
                  <span>잔류시간</span>
                </a>
              </li>

            </ul>
          </li>
          
        </ul>
        <hr class="my-3">
        <!-- 프리뷰 고시각 컨텐츠 -->
        <ul class="nav flex-column">
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="javascript:void(0)">
                <span class="material-icons">movie</span> 
                <span>프리뷰 고시각 컨텐츠</span>
              </a>
            </li>
            <ul class="nav flex-column ps-3">
              <li class="nav-item">
                <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/category/프리뷰/고시각/autoplay">
                  <span class="material-icons">timer</span> 
                  <span>오토플레이 시간</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/category/프리뷰/고시각/click">
                  <span class="material-icons">mouse</span> 
                  <span>클릭률</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/category/프리뷰/고시각/usetime">
                  <span class="material-icons">browse_gallery</span> 
                  <span>잔류시간</span>
                </a>
              </li>

            </ul>
          </li>
          
        </ul>

        <hr class="my-3">
        <!-- 썸네일 저시각 컨텐츠 -->
        <ul class="nav flex-column">
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="javascript:void(0)">
                <span class="material-icons">movie</span> 
                <span>썸네일 저시각 컨텐츠</span>
              </a>
            </li>
            <ul class="nav flex-column ps-3">
              <li class="nav-item">
                <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/category/썸네일/저시각/click">
                  <span class="material-icons">mouse</span> 
                  <span>클릭률</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/category/썸네일/저시각/usetime">
                  <span class="material-icons">browse_gallery</span> 
                  <span>잔류시간</span>
                </a>
              </li>

            </ul>
          </li>
          
        </ul>

        <hr class="my-3">
        <!-- 썸네일 고시각 컨텐츠 -->
        <ul class="nav flex-column">
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="javascript:void(0)">
                <span class="material-icons">movie</span> 
                <span>썸네일 고시각 컨텐츠</span>
              </a>
            </li>
            <ul class="nav flex-column ps-3">
              <li class="nav-item">
                <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/category/썸네일/고시각/click">
                  <span class="material-icons">mouse</span> 
                  <span>클릭률</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="/admin/category/썸네일/고시각/usetime">
                  <span class="material-icons">browse_gallery</span> 
                  <span>잔류시간</span>
                </a>
              </li>

            </ul>
          </li>
          
        </ul>

        <hr class="my-3">

        <ul class="nav flex-column mb-auto">
          <!-- <li class="nav-item">
            <a class="nav-link text-body-secondary d-flex align-items-center gap-2" href="#">
              <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg>
              Settings
            </a>
          </li> -->
          <li class="nav-item">
            <form action="/logout" method="post">
              <!-- CSRF TOKEN -->
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
              <button type="submit" class="nav-link text-body-secondary d-flex align-items-center gap-2">
                <svg class="bi"><use xlink:href="#door-closed"/></svg>
                로그아웃
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>

</th:block>