<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ui/layouts/admin_layout}"
      data-bs-theme="dark">
      
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IFLIM</title>

</head>

<body layout:fragment="content" class="bg-gradient">

  <div class="container-xl">
			    
    <h1 class="app-page-title my-2">영화 등록</h1>


    <main class="my-5">


    </main>
  
  </div>

</body>
</html>

