<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ui/layouts/admin_layout}"
      data-bs-theme="dark">
      
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IFLIM</title>

  <!-- bootstrap-table -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css" crossorigin="anonymous">
</head>

<body layout:fragment="content" class="bg-gradient">

  <div class="container-xl">
			    
    <h1 class="app-page-title my-2">영화 관리</h1>


    <main class="my-5">

      <div class="my-4">
        <div class="button-group d-flex justify-content-between align-items-center gap-3" id="right-btn-box">
          <div class="d-flex align-items-center gap-2">
            <div class="buttons-toolbar">
              <span class="material-icons">smart_display</span> 
            </div>
            <button class="btn btn-outline-danger" id="delete-btn" onclick="deleteSelected()">삭제</button>
            <a href="/admin/movies/create" class="btn btn-outline-primary">등록</a>
            <script>
              async function deleteSelected() {
                  var ids = getIdSelections();
                  if (ids.length === 0) {
                      $alert({
                        'title': '삭제할 항목을 선택하세요',
                        'text': '삭제할 항목을 선택하세요',
                        'icon': 'warning',
                      })
                      return;
                  }
                  const reuslt = await $confirm('정말 삭제하시겠습니까?', '삭제 확인', 'error', '삭제', '취소' )

                      
                  if (reuslt) {
                      $alert('삭제되었습니다', '삭제 완료', 'success')
                      // Perform delete operation (e.g., send a request to the server)
                      console.log('Deleting items with IDs:', ids);
                      

                      $ajax({
                        url: `/api/movies/${ids}`,
                        type: 'DELETE',
                      }).then(response => {
                        if (response === "FAIL") {
                          console.error('Failed to log click');
                          $toast({
                            title: '삭제 실패',
                            icon: 'error',            // success, error, warning, info, question
                            position: 'bottom-end',     
                            showConfirmButton: false,
                            timer: 3000
                          })  
                        } else {
                          $toast({
                              title: '삭제 성공',
                              icon: 'success',            // success, error, warning, info, question
                              position: 'bottom-end',     
                              showConfirmButton: false,
                              timer: 3000
                          })  
                          window.open(url, '_blank');
                        }
                      });

                      $table.bootstrapTable('remove', {
                          field: 'id',
                          values: ids
                      });
                  } else {
                      // User canceled the delete operation
                      console.log('Delete operation canceled');
                  }
              }
            </script>
          </div>
          <div>
            <button class="btn btn-primary" onclick="initTable()">조회</button>
            <button class="btn btn-success" onclick="exportExcel()">
                <img src="/img/excel_icon.png" alt="excel_icon" width="20" height="20"/>
                엑셀 다운로드
            </button>
          </div>
        </div>
      </div>

      <table id="table"
          class="nowrap"
          data-buttons-toolbar=".buttons-toolbar"
          data-search="false"
          data-show-columns="true"
          data-sortable="true"
          data-pagination="true"
          data-page-list="[10, 25, 50, 100, ALL]"
          data-show-export="false"
          data-export-types="['xlsx']"
          data-export-options='{"fileName": "report"}'
          >
      </table>

    </main>

  
    
  
  </div>



  <!-- boots-table -->
  <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.29.0/tableExport.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table-locale-all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
  <!-- XLSX Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>


  <script>
    var $table = $('#table')
    var $remove = $('#remove')
    var selections = []

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
          return row.id
        })
    }

    function responseHandler(res) {
        console.log(res.list);
        
        return res.list
    }


    // 테이블 초기화
    function initTable() {

        $table.bootstrapTable('destroy').bootstrapTable({
            url: '/api/movies',
            method: 'get',
            queryParams: function(params) {
                return {
                    page: 1,
                    size: 9999,
                }
            },
            responseHandler: responseHandler,
            exportTypes: ['xlsx'],  
            // height: 445,
            showColumnsToggleAll: true,
            showColumnsSearch: true,
            showColumns: true,
            exportOptions: {
                fileExtension: 'xlsx'
            },
            locale: 'ko-KR',
            columns: [
                {
                  field: 'state',
                  checkbox: true
                },
                {
                    field: 'no',
                    title: 'no',
                    sortable: true,
                    align: 'center',
                    width: '80px',
                },
                {
                    field: 'img',
                    title: '이미지',
                    sortable: true,
                    align: 'center',
                    width: '120px',
                    formatter: function(value, row, index) {
                        return `<img src="${value}" alt="image" width="120" height="80">`
                    }
                },
                {
                    field: 'title',
                    title: '제목',
                    sortable: true,
                    align: 'center',
                    // formatter: function(value, row, index) {
                    //     return `<a href="/admin/movies/${row.id}">${value}</a>`
                    // }
                },
                {
                  field: 'type',
                  title: '타입',
                  sortable: true,
                  align: 'center',
                  width: '50px',
                },
                // {
                //   field: 'preview',
                //   title: '프리뷰',
                //   sortable: true,
                //   align: 'center',
                //   width: '50px',
                // },
                {
                  field: 'seq',
                  title: '순서',
                  sortable: true,
                  align: 'center',
                  width: '50px',
                },
                {
                    field: 'createdAt',
                    title: '등록일',
                    sortable: true,
                    align: 'center',
                    formatter: function(value, row, index) {
                        return new Date(value).toLocaleDateString()
                    },
                    width: '120px',
                },
                {
                  field: 'playerId',
                  title: 'Player ID',
                  sortable: true,
                  align: 'center',
                  width: '100px',
                },
                {
                  field: 'fullId',
                  title: '본편 ID',
                  sortable: true,
                  align: 'center',
                  width: '100px',
                },
                {
                  field: 'url',
                  title: 'URL',
                  sortable: true,
                  align: 'center',
                  width: '50px',
                  formatter: function(value, row, index) {
                      return `<a href="${value}" target="_blank" class="text-danger">
                                <span class="material-icons">smart_display</span>
                              </a>`
                  }
                }
            ]
        })
        $table.on('check.bs.table uncheck.bs.table ' +
        'check-all.bs.table uncheck-all.bs.table',
        function () {
            $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)

            // save your data, here just save the current page
            selections = getIdSelections()
            // push or splice the selections if you want to save all data selections
        })
        $table.on('all.bs.table', function (e, name, args) {
            console.log(name, args)
        })

        $remove.click(function () {
            var ids = getIdSelections()

            $table.bootstrapTable('remove', {
                field: 'id',
                values: ids
            })
            $remove.prop('disabled', true)
        })

        // 한 row 더블클릭 시 이벤트 (체크박스 말고)
        $table.on('dbl-click-row.bs.table', function (e, row, $element) {
          console.log('row:', row);
          location.href = `/admin/movies/${row.id}`;
        });
    }

  $(function() {
    initTable()

    // $('#locale').change(initTable)
  })
</script>

<script>
  function exportExcel() {
      $table.tableExport({
          fileName: "report",     
          type: 'xlsx',
          escape: false
      });    
  }
</script>
  
</body>
</html>

